<div class="wrapper">
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li *ngIf="userService.user.roles == ''"><a routerLink="/login">Login</a></li>
    <li *ngIf="userService.user.roles == ''"><a routerLink="/register">Register</a></li>
    <li *ngIf="userService.user.roles != ''"><a routerLink="/stats">Stats</a></li>
    <li *ngIf="userService.user.roles != ''"><a routerLink="/ticket">Ticket</a></li>
    <li *ngIf="userService.user.roles != ''"><a routerLink="/management">Management</a></li>
    <li *ngIf="userService.user.roles != ''"><a routerLink="/personalisation">Personalization</a></li>
    <li *ngIf="userService.user.roles != ''"><a (click)="logout()">Logout</a></li>
    <li><h4>Collect&verything</h4></li>
  </ul>

  <router-outlet></router-outlet>

</div>
